@font-face {
    font-family: 'League Gothic';
    src: url('../../imgs/webfonts/leaguegothic-regular-webfont.eot');
    src: url('../../imgs/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../imgs/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../../imgs/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../../imgs/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal; 

}

.logo{
    background: url(../../imgs/text.jpg);
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    height: 800px;
    font-size: 150px;
    font-weight: 100;
    letter-spacing: 15px;
    font-family:  'League Gothic';
    text-transform: uppercase;
}