.navbar{
    width: 100%;
    background: linear-gradient(to bottom , black  , rgb(77, 77, 77)  , transparent);
    height: 20vh;
    padding: 0 20px; 
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , auto));
    justify-items: center;
    align-items: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5000;
}

.input_section{
    text-align: center;
    width: 40vw;
}

.logo-img{
    width: 15vw;
}

.logo-img img{
    width: 100%;
}

.pesonal_img{
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: 100;
    font-size: 12px;
}

.pesonal_img img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
}

.pesonal_img img:hover{
    border: 2px solid rgb(209, 0, 0);
}