.genre-list{
    padding: 10px 30px;
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    grid-gap: 10px;
    padding-bottom: 80px;
}

.genre_header{
    padding: 0 30px;
    color: #fff;
    font-size: 25px;
}

@media(max-width : 750px){
    .genre-list{
        grid-template-columns: 60vw;
        justify-content: center;
    }
}

@media(max-width : 350px){
    .genre-list{
        grid-template-columns: 85vw;
        justify-content: center;
    }
}